#job-ninja-panel-wrapper {
    position: fixed; 
    border:none; 
    z-index: 2147483647; 
    top: 0;
    right: 0;
    max-width: 200px;
}

.job-ninja-panel-component {
    background-color: white;
    height: auto; 
    float: left;
    padding-top: 10px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 4px;
}

#job-ninja-panel-submit {
    width: 100%;
}